@import "fonts.scss";
@import "colors.scss";
@import "mixins.scss";

.wrapper {
  max-width: 60%;
  //max-width: 1140px;
  margin: 0 auto;
  @media (max-width: 1300px) {
    //max-width: 55.4%;
    max-width: 720px;
  }
  @media (max-width: 980px) {
    max-width: 70%;
  }
  @media (max-width: 780px) {
    max-width: 80%;
  }
}
.info-text {
  font: normal 300 18px/24px $Gilroy;
  letter-spacing: 1px;
  @media (max-width: 1300px) {
    font-size: 16px;
  }
}
.link {
  cursor: pointer;

  &--black {
    color: $black;
  }
  &--red {
    color: rgb(245,17,44);
    padding-bottom: 4px;
    border-bottom: 1px solid rgb(245,17,44);
  }
}

.line {
  margin: 0;
  border: 0;
  width: 64px;
  height: 7px;
  background-color: $red-dark;
}

.button {
  border: 1px solid rgba(0,0,0,0.2);
  padding: 25px 20px;
  max-width: 372px;

  text-align: center;
  color: #ffffff;

  font: normal 800 18px/24px $Gilroy, Helvetica, sana-serif; // 18(24) 1 -- 14(24) 1 -- 14(24) 1
  letter-spacing: 1px;

  border-radius: 35px;
  box-shadow: 0 10px 19px 0 rgba(246,27,60,0.55);
  background-color: #f5112b;
  @media (max-width: 1300px) {
    padding: 18px 25px;

    max-width: 300px;

    font-size: 14px;
  }
  &:hover, &:focus, &:active {
    background-color: $red-button;
    box-shadow: 0 10px 19px 0 rgba(246,27,60,0.55), 0 10px 19px 0 rgba(246,27,60,0.55);
  }
}

.button-link {
  padding: 0;
  border: none;
  border-bottom: 1px solid $red-light;

  color: rgb(245,17,44);

  font: normal 300 18px/24px $Gilroy; // 18(24) 1 -- 16(24) 1 -- 14(24) 1
  letter-spacing: 1px;

  background-color: transparent;
  cursor: pointer;
  @media (max-width: 1300px) {
    font-size: 16px;
  }
  @media (max-width: 320px) {
    font-size: 14px;
  }
}

.section-title, .section-title--line {
  display: inline-block;

  text-transform: uppercase;

  color: rgb(0,0,0);
  font: normal 800 45px $Gilroy, Helvetica, sana-serif;
  letter-spacing: 2px;
  @media (max-width: 1300px) {
    font-size: 30px;
  }
  @media (max-width: 320px) {
    font-size: 24px;
    letter-spacing: 1px;
  }
}
.section-title--line {
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 64px;
    padding-bottom: 20px;
    border-bottom: 7px solid $red-dark;
    @media (max-width: 640px) {
      margin: 0 auto;
    }
  }
}
.section-title--question {
  position: relative;
  &:before {
    position: absolute;
    z-index: 0;
    top: -115px;
    right: -70px;
    content: '?';
    display: inline-block;

    color: rgba(0,0,0, 0.1);
    font: normal 800 300px $Gilroy;
    @media (max-width: 1300px) {
      top: -65px;
      right: -40px;

      font-size: 200px;
    }
  }
}

.section__list--title {
  //font: normal 300 1rem/1.6 $Gilroy, Helvetica, sana-serif; //18(28) 1 -- 16(24) 1 -- 14(18) 1
  @include font_main(900);
}
.section__list--description {
  @include font_main();
}

.logo {
  color: #000000;

  &__dot, &__text {
    display: inline;
    font: normal 800 48px $Muse; //48() 2 -- 30() 2 -- 30() 2
    @media (max-width: 1300px) {
      font-size: 30px;
    }
  }

  &__text {
    color: $red-dark;
    letter-spacing: 2px;
  }
}