@font-face {
  font-family: "Muse";
  src: url("assets/fonts/MuseoSansCyrl_500-webfont.woff2") format("woff2"),
  url("assets/fonts/MuseoSansCyrl_500-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

$Gilroy: "Gilroy";
$Muse: "Muse";