html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*, *::after, *::before {
  box-sizing: inherit;
}
div, article {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a, button {
  cursor: pointer;
}
h1, h2, h3, h4, h5, p, span, ul, ol, dl, dt, dd {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a:focus, button:focus {
  outline: none;
}
html, body {
  box-sizing: border-box;
}
body {
  font-size: 18px;
  @media (max-width: 1300px) {
    font-size: 16px;
  }
  @media (max-width: 320px) {
    font-size: 14px;
  }
}
