
@import "fonts.scss";

@import "normalize.scss";
@import "components.scss";

$Gilroy: "Gilroy";
$Muse: "Muse";

$red: #e4002b;


/* position, z-index, top, left */
/* display, border, paddin, margin, width, height */
/* text-align, color, text-decoration */
/* box-shadow, background, transform  */
/* counter-reset, will-change */

.main-container {
  height: 100vh;
  position: relative;
  display: flex;

  &:after {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: 'english yes';
    display: inline-block;
    //font-size: 372px;
    font-size: 18.4vw;
    letter-spacing: 9px;
    color: rgba(0,0,0, 0.1);
    font-family: $Gilroy;
    font-weight: 800;
    white-space: nowrap;

  }
}
.header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;


  &__logo {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px;
    color: $red;
    font-family: $Muse;
  }

  &__list {
    list-style-type: none;

    &--item {
      display: inline-block;
      font-family: $Gilroy;
      font-size: 18px;
    }

    &--link {
      font-family: $Muse;
    }
  }
}
