@charset "UTF-8";
@font-face {
  font-family: "Muse";
  src: url("assets/fonts/MuseoSansCyrl_500-webfont.woff2") format("woff2"), url("assets/fonts/MuseoSansCyrl_500-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }

html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

*, *::after, *::before {
  box-sizing: inherit; }

div, article {
  box-sizing: border-box; }

a {
  text-decoration: none;
  cursor: pointer; }

a, button {
  cursor: pointer; }

h1, h2, h3, h4, h5, p, span, ul, ol, dl, dt, dd {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

a:focus, button:focus {
  outline: none; }

html, body {
  box-sizing: border-box; }

@font-face {
  font-family: "Muse";
  src: url("assets/fonts/MuseoSansCyrl_500-webfont.woff2") format("woff2"), url("assets/fonts/MuseoSansCyrl_500-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }

.wrapper {
  max-width: 60%;
  margin: 0 auto; }
  @media (max-width: 1300px) {
    .wrapper {
      max-width: 720px; } }

.info-text {
  font: normal 300 18px/24px "Gilroy", Helvetica, sana-serif;
  letter-spacing: 1px; }
  @media (max-width: 1300px) {
    .info-text {
      font-size: 16px; } }

.link {
  cursor: pointer; }
  .link--black {
    color: #141414; }
  .link--red {
    color: #f5112c;
    padding-bottom: 4px;
    border-bottom: 1px solid #f5112c; }

.line {
  margin: 0;
  border: 0;
  width: 64px;
  height: 7px;
  background-color: #f5112c; }

.button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 25px 20px;
  max-width: 372px;
  text-align: center;
  color: #ffffff;
  font: normal 800 18px/24px "Gilroy", Helvetica, sana-serif, Helvetica, sana-serif;
  letter-spacing: 1px;
  border-radius: 35px;
  box-shadow: 0 10px 19px 0 rgba(246, 27, 60, 0.55);
  background-color: #f5112b; }
  @media (max-width: 1300px) {
    .button {
      padding: 18px 25px;
      font-size: 14px; } }
  .button:hover, .button:focus, .button:active {
    background-color: #d50d25;
    box-shadow: 0 10px 19px 0 rgba(246, 27, 60, 0.55), 0 10px 19px 0 rgba(246, 27, 60, 0.55); }

.button-link {
  padding: 0;
  border: none;
  border-bottom: 1px solid #f5112c;
  color: #f5112c;
  font: normal 300 18px/24px "Gilroy", Helvetica, sana-serif;
  letter-spacing: 1px;
  background-color: transparent;
  cursor: pointer; }
  @media (max-width: 1300px) {
    .button-link {
      font-size: 16px; } }
  @media (max-width: 320px) {
    .button-link {
      font-size: 14px; } }

.section-title, .section-title--line {
  display: inline-block;
  text-transform: uppercase;
  color: black;
  font: normal 800 45px "Gilroy", Helvetica, sana-serif, Helvetica, sana-serif;
  letter-spacing: 2px; }
  @media (max-width: 1300px) {
    .section-title, .section-title--line {
      font-size: 30px; } }
  @media (max-width: 320px) {
    .section-title, .section-title--line {
      font-size: 24px;
      letter-spacing: 1px; } }

.section-title--line {
  position: relative; }
  .section-title--line:after {
    content: '';
    display: block;
    width: 64px;
    padding-bottom: 20px;
    border-bottom: 7px solid #f5112c; }

.section-title--question {
  position: relative; }
  .section-title--question:after {
    position: absolute;
    z-index: 0;
    top: -115px;
    right: -70px;
    content: '?';
    display: inline-block;
    color: rgba(0, 0, 0, 0.1);
    font: normal 800 300px "Gilroy", Helvetica, sana-serif; }
    @media (max-width: 1300px) {
      .section-title--question:after {
        top: -65px;
        right: -40px;
        font-size: 200px; } }

.section__list--title {
  font: normal 900 1rem/1.6 "Gilroy", Helvetica, sana-serif, Helvetica, sana-serif; }
  @media (max-width: 1300px) {
    .section__list--title {
      line-height: 1.5; } }
  @media (max-width: 320px) {
    .section__list--title {
      line-height: 1.3; } }

.section__list--description {
  font: normal 300 1rem/1.6 "Gilroy", Helvetica, sana-serif, Helvetica, sana-serif; }
  @media (max-width: 1300px) {
    .section__list--description {
      line-height: 1.5; } }
  @media (max-width: 320px) {
    .section__list--description {
      line-height: 1.3; } }

.logo {
  color: #000000; }
  .logo__dot, .logo__text {
    display: inline;
    font: normal 800 48px "Muse", "Trebuchet MS", sana-serif; }
    @media (max-width: 1300px) {
      .logo__dot, .logo__text {
        font-size: 30px; } }
  .logo__text {
    color: #f5112c;
    letter-spacing: 2px; }

html {
  font-size: 18px; }

.header {
  /*height: 100vh;*/
  position: relative;
  display: flex;
  flex-flow: column nowrap; }
  .header:after {
    position: absolute;
    z-index: -10;
    top: 20px;
    left: 0;
    width: 100%;
    display: inline-block;
    content: 'english yes';
    color: rgba(233, 233, 233, 0.3);
    font: normal 800 18.3vw "Gilroy", Helvetica, sana-serif;
    letter-spacing: 9px;
    white-space: nowrap; }
  .header__wrapper {
    position: relative;
    padding-bottom: 70px;
    width: 100%;
    height: 100%; }
  .header__menu {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding-top: 25px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
  .header__list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    list-style-type: none; }
    .header__list--item {
      margin-right: 40px;
      display: inline-block; }
      .header__list--item:last-child {
        margin: 0; }

.main-block {
  height: 100%;
  display: flex;
  flex-flow: row nowrap; }
  .main-block__img {
    position: relative;
    width: 54%;
    background: transparent url("./assets/images/d_bus.png") 50% 0 no-repeat;
    background-size: contain; }
    @media (max-width: 1300px) {
      .main-block__img {
        margin-left: -10%;
        width: 55%; } }
    .main-block__img:after {
      position: absolute;
      top: 44%;
      left: -17%;
      display: block;
      width: 86px;
      height: 86px;
      content: "";
      background: transparent url("./assets/images/icons/bagel.svg") 50% 50% no-repeat; }
  .main-block__text {
    padding: 295px 0 120px;
    width: 46%; }
    @media (max-width: 1300px) {
      .main-block__text {
        padding: 170px 0 0;
        width: 59%; } }
  .main-block__title {
    position: relative;
    margin-bottom: 20px;
    display: block;
    max-width: 490px;
    text-transform: uppercase;
    color: black;
    font: normal 800 34px "Gilroy", Helvetica, sana-serif;
    letter-spacing: 2px; }
    @media (max-width: 1300px) {
      .main-block__title {
        margin-bottom: 12px;
        font-size: 24px;
        letter-spacing: 1px; } }
    @media (max-width: 320px) {
      .main-block__title {
        font-size: 18px; } }
    .main-block__title:before {
      position: absolute;
      top: -49%;
      right: 6%;
      display: block;
      width: 24px;
      height: 24px;
      content: "";
      background: transparent url("./assets/images/icons/circle.svg") 50% 50% no-repeat; }
    .main-block__title--strong {
      margin-top: 5px;
      display: block;
      font-size: 45px; }
      @media (max-width: 1300px) {
        .main-block__title--strong {
          font-size: 30px;
          letter-spacing: 2px; } }
      @media (max-width: 320px) {
        .main-block__title--strong {
          font-size: 24px;
          letter-spacing: 1px; } }
  .main-block__line {
    margin-bottom: 20px; }
  .main-block__description {
    position: relative;
    margin-bottom: 95px;
    color: #141414;
    font: normal 300 18px/24px "Gilroy", Helvetica, sana-serif;
    letter-spacing: 1px; }
    @media (max-width: 1300px) {
      .main-block__description {
        margin-bottom: 70px;
        font-size: 16px; } }
    @media (max-width: 320px) {
      .main-block__description {
        font-size: 18px;
        line-height: 18px; } }
    .main-block__description:after {
      position: absolute;
      bottom: -102%;
      right: 0;
      display: block;
      width: 145px;
      height: 19px;
      content: "";
      background: transparent url("./assets/images/icons/wave.svg") 50% 50% no-repeat; }
    .main-block__description--item {
      display: block; }

.situation {
  position: relative;
  overflow: hidden;
  padding: 165px 0 215px; }
  @media (max-width: 1300px) {
    .situation {
      padding: 115px 0 174px; } }
  .situation:after {
    position: absolute;
    top: 0;
    left: -50%;
    z-index: -10;
    width: 170%;
    height: 100%;
    border-radius: 50%;
    content: '';
    background-color: #f8f8f8; }
    @media (max-width: 1300px) {
      .situation:after {
        left: -64%;
        width: 220%; } }
  .situation__wrapper {
    position: relative; }
    .situation__wrapper:after {
      position: absolute;
      top: 61%;
      left: 23%;
      z-index: 1;
      display: block;
      width: 24px;
      height: 24px;
      content: "";
      background: transparent url("./assets/images/icons/circle.svg") 50% 50% no-repeat; }
    .situation__wrapper:before {
      position: absolute;
      bottom: 16%;
      left: 24%;
      display: block;
      height: 70%;
      content: "";
      border-left: 1px solid rgba(0, 0, 0, 0.1); }
  .situation__title {
    max-width: 360px; }
    @media (max-width: 1300px) {
      .situation__title {
        margin-bottom: 60px;
        max-width: 260px; } }
  .situation__item {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center; }
    @media (max-width: 1300px) {
      .situation__item {
        margin-bottom: 55px; }
        .situation__item:last-child {
          margin: 0; } }
    .situation__item--description {
      position: relative; }
    .situation__item--number {
      position: absolute;
      top: 0;
      right: 0;
      color: black;
      font: normal 800 48px "Gilroy", Helvetica, sana-serif;
      letter-spacing: 2px; }
      .situation__item--number_strong {
        color: #f5112c; }
    .situation__item--text {
      max-width: 396px;
      font: normal 300 18px/28px "Gilroy", Helvetica, sana-serif;
      letter-spacing: 1px;
      color: #1b1b1b; }
      @media (max-width: 1300px) {
        .situation__item--text {
          font-size: 16px;
          line-height: 24px; } }
      @media (max-width: 320px) {
        .situation__item--text {
          font-size: 14px;
          line-height: 18px; } }
    .situation__item--img-wrapper {
      position: relative; }
      .situation__item--img-wrapper:before, .situation__item--img-wrapper:after {
        position: absolute;
        font: normal 800 2.7rem/1.6 "Gilroy", Helvetica, sana-serif;
        letter-spacing: 0.1rem; }
      .situation__item--img-wrapper:before {
        color: black; }
      .situation__item--img-wrapper:after {
        content: '.';
        color: #f5112c; }
    .situation__item--img {
      margin: 0 0 0 35px; }
    .situation__item:nth-child(even) {
      flex-flow: row-reverse nowrap; }
      .situation__item:nth-child(even) .situation__item--number {
        right: auto;
        left: 0; }
      .situation__item:nth-child(even) .situation__item--text {
        max-width: 311px; }
      .situation__item:nth-child(even) .situation__item--img {
        margin: 0 35px 0 0; }
    .situation__item:nth-child(1) {
      margin-bottom: 80px; }
      @media (max-width: 1300px) {
        .situation__item:nth-child(1) {
          margin-bottom: 55px; } }
      .situation__item:nth-child(1) .situation__item--number {
        top: -76%;
        right: -26%; }
      .situation__item:nth-child(1) .situation__item--text {
        position: relative;
        max-width: 282px; }
        .situation__item:nth-child(1) .situation__item--text:after {
          position: absolute;
          bottom: -47%;
          right: -21%;
          display: block;
          width: 145px;
          height: 19px;
          content: "";
          background: transparent url("./assets/images/icons/wave.svg") 50% 50% no-repeat; }
    .situation__item:nth-child(2) .situation__item--number {
      top: -138%;
      left: -22%; }
    .situation__item:nth-child(3) {
      margin-top: -60px; }
      @media (max-width: 1300px) {
        .situation__item:nth-child(3) {
          margin-top: 0; } }
      .situation__item:nth-child(3) .situation__item--number {
        top: -105%;
        right: -20%; }
    .situation__item:nth-child(4) .situation__item--number {
      top: -65%;
      left: -23%; }

.about-us {
  position: relative;
  margin-top: -70px;
  padding-bottom: 238px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  overflow: hidden; }
  @media (max-width: 1300px) {
    .about-us {
      padding-bottom: 238px; } }
  .about-us:after {
    position: absolute;
    bottom: 11%;
    right: 31%;
    display: block;
    width: 145px;
    height: 19px;
    content: "";
    background: transparent url("./assets/images/icons/wave.svg") 50% 50% no-repeat; }
  .about-us__content {
    padding-top: 225px;
    margin-right: -10%;
    width: 44%; }
    @media (max-width: 1300px) {
      .about-us__content {
        padding-top: 195px;
        width: 46%; } }
  .about-us__title {
    margin-bottom: 103px;
    max-width: 495px; }
    @media (max-width: 1300px) {
      .about-us__title {
        margin-bottom: 63px;
        max-width: 340px; } }
  .about-us__line {
    margin-bottom: 70px; }
  .about-us__list {
    padding-left: 20px;
    display: flex;
    flex-flow: row nowrap; }
    @media (max-width: 1300px) {
      .about-us__list {
        padding: 0; } }
  .about-us__item {
    max-width: 280px;
    margin-right: 30px;
    color: #141414;
    font: normal 300 18px/28px "Gilroy", Helvetica, sana-serif;
    letter-spacing: 1px; }
    @media (max-width: 1300px) {
      .about-us__item {
        font-size: 16px;
        line-height: 24px; } }
    @media (max-width: 320px) {
      .about-us__item {
        font-size: 14px; } }
    .about-us__item:last-child {
      margin: 0; }
    .about-us__item--title {
      position: relative;
      margin-bottom: 10px;
      font-weight: 900; }
      .about-us__item--title:before {
        position: absolute;
        bottom: -2px;
        left: -20px;
        z-index: -5;
        display: inline-block;
        content: "";
        width: 50px;
        height: 50px;
        border-radius: 22px;
        background-color: #f5f5f5; }
        @media (max-width: 1300px) {
          .about-us__item--title:before {
            left: 0; } }
  .about-us__img {
    margin-right: -4%;
    width: 50%;
    background: transparent url("./assets/images/d_about.png") 50% 50% no-repeat;
    background-size: contain; }
    @media (max-width: 1300px) {
      .about-us__img {
        margin-right: -10%;
        width: 52%; } }

.instructors {
  position: relative;
  padding-bottom: 75px; }
  .instructors:before {
    position: absolute;
    top: -6%;
    right: 8%;
    z-index: -10;
    border: 70px solid #f8f8f8;
    width: 23%;
    height: 61%;
    border-radius: 50%;
    content: ''; }
  .instructors:after {
    position: absolute;
    top: 37%;
    right: 7%;
    display: block;
    width: 66px;
    height: 34px;
    content: "";
    background: transparent url("./assets/images/icons/waves.png") 50% 50% no-repeat; }
  .instructors__wrapper {
    position: relative; }
    .instructors__wrapper:before {
      position: absolute;
      top: 43%;
      right: 15%;
      z-index: -10;
      display: block;
      width: 120%;
      content: "";
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .instructors__wrapper:after {
      position: absolute;
      top: 41%;
      left: -13%;
      display: block;
      width: 24px;
      height: 24px;
      content: "";
      background: transparent url("./assets/images/icons/circle.svg") 50% 50% no-repeat; }
  .instructors__title {
    margin-bottom: 48px; }
  .instructors__list {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none; }
  .instructors__item {
    margin: 0 15px;
    width: calc((100% / 3) - 20px);
    color: #141414;
    font: normal 300 0.8rem "Gilroy", Helvetica, sana-serif;
    letter-spacing: 1px; }
    .instructors__item:first-child {
      margin: 0 15px 0 0; }
    .instructors__item:last-child {
      margin: 0 0 0 15px; }
    .instructors__item--img {
      margin-bottom: 28px;
      width: 100%;
      height: 55%; }
    .instructors__item--title {
      margin-bottom: 10px;
      display: block;
      font-size: 1rem;
      font-weight: 900; }
    .instructors__item--description {
      line-height: 1.7; }

.timetable {
  position: relative;
  padding-bottom: 72px;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden; }
  .timetable:before {
    position: absolute;
    top: 22%;
    left: 6%;
    z-index: -10;
    border: 100px solid #f8f8f8;
    width: 32%;
    height: 53%;
    border-radius: 50%;
    content: ''; }
  .timetable__img {
    position: relative;
    width: 37%;
    background: transparent url("./assets/images/d_bigben.png") 100% 0 no-repeat;
    background-size: cover; }
    .timetable__img:before {
      position: absolute;
      top: 16%;
      left: 23%;
      z-index: -10;
      border: 30px solid #2429ff;
      width: 24%;
      height: 16%;
      border-radius: 50%;
      content: ''; }
    .timetable__img:after {
      position: absolute;
      bottom: 29%;
      right: -2%;
      display: block;
      width: 145px;
      height: 19px;
      content: "";
      background: transparent url("./assets/images/icons/wave.svg") 50% 50% no-repeat; }
  .timetable__text {
    padding: 135px 0 35px;
    margin-left: 4%;
    width: 40%; }
  .timetable__title {
    margin-bottom: 30px; }
  .timetable__line {
    margin-bottom: 45px;
    max-width: 350px; }
  .timetable__price {
    display: block;
    margin-bottom: 10px;
    color: #f5112c;
    font: normal 300 2.5rem "Gilroy", Helvetica, sana-serif; }
  .timetable__description {
    margin-bottom: 30px;
    color: #141414;
    font: normal 300 1rem/1.6 "Gilroy", Helvetica, sana-serif;
    letter-spacing: 0.1rem; }
  .timetable__list {
    display: flex;
    flex-flow: row nowrap; }
  .timetable__item {
    margin-right: 30px;
    max-width: 390px;
    width: calc(50% - 30px);
    color: #141414;
    letter-spacing: 0.1rem; }
    .timetable__item:last-child {
      margin: 0; }
    .timetable__item--title {
      margin-bottom: 5px; }
    .timetable__item .section-title--question:after {
      top: 0; }
    .timetable__item--description {
      margin-bottom: 25px; }

.methods {
  position: relative;
  overflow: hidden;
  padding: 57px 0 225px; }
  .methods:before {
    position: absolute;
    top: 0;
    right: -6%;
    z-index: -10;
    width: 110%;
    height: 100%;
    border-radius: 50%;
    content: '';
    background-color: #f8f8f8; }
  .methods__title {
    margin-bottom: 45px;
    max-width: 350px; }
  .methods__item {
    position: relative;
    margin-bottom: 70px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
    .methods__item:last-child {
      margin: 0; }
    .methods__item--text {
      position: relative;
      padding-left: 38px;
      display: flex;
      flex-flow: column nowrap;
      max-width: 410px; }
      .methods__item--text:before {
        position: absolute;
        top: 17px;
        left: 3px;
        width: 13px;
        height: 10px;
        content: "";
        background: transparent url("./assets/images/icons/arrow-right.svg") 50% 50% no-repeat; }
    .methods__item--img {
      position: relative;
      overflow: hidden;
      margin-left: 73px;
      display: block;
      width: 555px;
      height: 333px; }
      .methods__item--img img {
        position: absolute;
        top: 0;
        left: 0; }
    .methods__item:nth-child(even) {
      flex-flow: row-reverse nowrap;
      justify-content: flex-end; }
      .methods__item:nth-child(even) .methods__item--img {
        margin: 0 73px 0 0; }
    .methods__item:nth-child(1):after, .methods__item:nth-child(2):after, .methods__item:nth-child(3):after, .methods__item:nth-child(4):after {
      position: absolute;
      z-index: -10;
      font: normal 800 122px/72px "Gilroy", Helvetica, sana-serif;
      letter-spacing: 6px;
      color: rgba(233, 233, 233, 0.5); }
    .methods__item:nth-child(1):after {
      top: 48px;
      left: 178px;
      content: "просто"; }
    .methods__item:nth-child(1) .methods__item--img img {
      top: -185px;
      left: -400px; }
    .methods__item:nth-child(2):after {
      top: 72px;
      right: 48px;
      content: "общение"; }
    .methods__item:nth-child(2):before {
      position: absolute;
      top: -15%;
      left: 4.5%;
      display: block;
      width: 24px;
      height: 24px;
      content: "";
      background: transparent url("./assets/images/icons/circle.svg") 50% 50% no-repeat; }
    .methods__item:nth-child(2) .methods__item--img img {
      top: -39px;
      left: 4px; }
    .methods__item:nth-child(3):after {
      top: 64px;
      left: 14px;
      content: "практика"; }
    .methods__item:nth-child(3) .methods__item--img img {
      top: -75px;
      left: -17px; }
    .methods__item:nth-child(4):before {
      position: absolute;
      top: -7%;
      left: 45%;
      z-index: 10;
      border: 17px solid #2429ff;
      width: 8%;
      height: 24%;
      border-radius: 50%;
      content: ''; }
    .methods__item:nth-child(4):after {
      top: 70px;
      right: 148px;
      content: "повтор"; }
    .methods__item:nth-child(4) .methods__item--img img {
      top: -22px;
      left: -44px; }

.reviews {
  position: relative;
  padding: 100px 0 154px; }
  .reviews:before {
    position: absolute;
    top: -32%;
    right: 13%;
    z-index: 10;
    border: 110px solid #f8f8f8;
    width: 30%;
    height: 65%;
    border-radius: 50%;
    content: ''; }
  .reviews:after {
    position: absolute;
    bottom: -3%;
    right: 20%;
    display: block;
    width: 145px;
    height: 19px;
    content: "";
    background: transparent url("./assets/images/icons/wave.svg") 50% 50% no-repeat; }
  .reviews__wrapper {
    position: relative; }
    .reviews__wrapper:before {
      position: absolute;
      top: 29%;
      right: 15%;
      z-index: 10;
      display: block;
      width: 24px;
      height: 24px;
      content: "";
      background: transparent url("./assets/images/icons/circle.svg") 50% 50% no-repeat; }
    .reviews__wrapper:after {
      position: absolute;
      top: 13%;
      right: -9%;
      z-index: 10;
      display: block;
      width: 66px;
      height: 34px;
      content: "";
      background: transparent url("./assets/images/icons/waves.png") 50% 50% no-repeat; }
  .reviews__title {
    margin-bottom: 75px; }
  .reviews__list {
    overflow-x: auto;
    display: flex;
    flex-flow: row nowrap; }
    .reviews__list::-webkit-scrollbar-track {
      border-radius: 3px;
      background-color: #e9e9e9; }
    .reviews__list::-webkit-scrollbar {
      height: 7px; }
    .reviews__list::-webkit-scrollbar-thumb {
      border-radius: 3px;
      -webkit-box-shadow: 0px 4px 10px rgba(245, 17, 44, 0.58);
      background-color: #f5112c; }
  .reviews__item {
    padding-bottom: 70px;
    flex: 0 0 100%;
    display: flex;
    flex-flow: row nowrap; }
    .reviews__item--img-wrapper {
      position: relative;
      overflow: hidden;
      margin-right: 65px;
      display: block;
      height: 164px;
      width: 164px; }
    .reviews__item--img {
      position: absolute;
      top: -15px;
      left: -70px; }
    .reviews__item--content {
      max-width: 680px; }
    .reviews__item--name {
      margin-bottom: 28px;
      display: block;
      line-height: 1; }
    .reviews__item--text {
      margin-bottom: 20px; }

.promotion {
  padding: 130px 0 190px;
  display: flex;
  flex-flow: row nowrap; }
  .promotion__img-wrapper {
    position: relative;
    margin-right: 3%;
    width: 50%;
    overflow: hidden; }
    .promotion__img-wrapper:before {
      position: absolute;
      top: 1%;
      right: 7%;
      display: block;
      width: 145px;
      height: 19px;
      content: "";
      background: transparent url("./assets/images/icons/wave.svg") 50% 50% no-repeat; }
    .promotion__img-wrapper:after {
      position: absolute;
      bottom: 0;
      right: 25%;
      display: block;
      width: 24px;
      height: 24px;
      content: "";
      background: transparent url("./assets/images/icons/circle.svg") 50% 50% no-repeat; }
  .promotion__img {
    position: absolute;
    top: 0;
    left: -80%;
    width: 280%;
    height: 280%;
    background: transparent url("./assets/images/plane.png") 0 0 no-repeat;
    background-size: contain; }
  .promotion__content {
    position: relative;
    padding: 124px 0 40px;
    width: 27%;
    display: flex;
    flex-flow: column nowrap; }
    .promotion__content:before {
      position: absolute;
      top: 3%;
      right: -16%;
      display: block;
      width: 10px;
      height: 10px;
      content: "";
      background: transparent url("./assets/images/icons/circle.svg") 50% 50% no-repeat;
      background-size: contain; }
    .promotion__content:after {
      position: absolute;
      top: 12%;
      right: -8%;
      display: block;
      width: 24px;
      height: 24px;
      content: "";
      background: transparent url("./assets/images/icons/circle.svg") 50% 50% no-repeat; }
  .promotion__title {
    margin-bottom: 16px; }
  .promotion__description {
    margin-bottom: 95px;
    font: normal 300 16px/24px "Gilroy", Helvetica, sana-serif;
    letter-spacing: 1px; }

.footer {
  padding: 70px 0 40px;
  background-color: #f7f7f7; }
  .footer__wrapper {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
  .footer__column {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start; }
    .footer__column:last-child {
      align-items: flex-end; }
  .footer__logo {
    margin-bottom: 5px; }
  .footer__social {
    margin-bottom: 15px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center; }
    .footer__social--item {
      margin-right: 22px;
      background-size: contain;
      cursor: pointer; }
      .footer__social--item:last-child {
        margin: 0; }
    .footer__social .vk {
      width: 40px;
      height: 23px;
      background: transparent url("./assets/images/icons/vk.png") 50% 50% no-repeat; }
    .footer__social .insta {
      width: 28px;
      height: 28px;
      background: transparent url("./assets/images/icons/insta.png") 50% 50% no-repeat; }
    .footer__social .yt {
      width: 27px;
      height: 33px;
      background: transparent url("./assets/images/icons/yt.png") 50% 50% no-repeat; }
    .footer__social .ok {
      width: 19px;
      height: 33px;
      background: transparent url("./assets/images/icons/ok.png") 50% 50% no-repeat; }
  .footer__tel {
    margin-bottom: 15px; }
