@charset "UTF-8";
@font-face {
  font-family: "Muse";
  src: url("assets/fonts/MuseoSansCyrl_500-webfont.woff2") format("woff2"), url("assets/fonts/MuseoSansCyrl_500-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }

html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

*, *::after, *::before {
  box-sizing: inherit; }

div, article {
  box-sizing: border-box; }

a {
  text-decoration: none;
  cursor: pointer; }

a, button {
  cursor: pointer; }

h1, h2, h3, h4, h5, p, span, ul, ol, dl, dt, dd {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

a:focus, button:focus {
  outline: none; }

html, body {
  box-sizing: border-box; }

@font-face {
  font-family: "Muse";
  src: url("assets/fonts/MuseoSansCyrl_500-webfont.woff2") format("woff2"), url("assets/fonts/MuseoSansCyrl_500-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }

.wrapper {
  max-width: 60%;
  margin: 0 auto; }
  @media (max-width: 1300px) {
    .wrapper {
      max-width: 55.4%; } }
  @media (max-width: 980px) {
    .wrapper {
      max-width: 70%; } }
  @media (max-width: 780px) {
    .wrapper {
      max-width: 80%; } }

.info-text {
  font: normal 300 18px/24px "Gilroy", Helvetica, sana-serif;
  letter-spacing: 1px; }
  @media (max-width: 1300px) {
    .info-text {
      font-size: 16px; } }

.link {
  cursor: pointer; }
  .link--black {
    color: #141414; }
  .link--red {
    color: #f5112c;
    padding-bottom: 4px;
    border-bottom: 1px solid #f5112c; }

.line {
  margin: 0;
  border: 0;
  width: 64px;
  height: 7px;
  background-color: #f5112c; }

.button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 25px 20px;
  max-width: 372px;
  text-align: center;
  color: #ffffff;
  font: normal 800 18px/24px "Gilroy", Helvetica, sana-serif, Helvetica, sana-serif;
  letter-spacing: 1px;
  border-radius: 35px;
  box-shadow: 0 10px 19px 0 rgba(246, 27, 60, 0.55);
  background-color: #f5112b; }
  @media (max-width: 1300px) {
    .button {
      padding: 18px 25px;
      max-width: 300px;
      font-size: 14px; } }
  .button:hover, .button:focus, .button:active {
    background-color: #d50d25;
    box-shadow: 0 10px 19px 0 rgba(246, 27, 60, 0.55), 0 10px 19px 0 rgba(246, 27, 60, 0.55); }

.button-link {
  padding: 0;
  border: none;
  border-bottom: 1px solid #f5112c;
  color: #f5112c;
  font: normal 300 18px/24px "Gilroy", Helvetica, sana-serif;
  letter-spacing: 1px;
  background-color: transparent;
  cursor: pointer; }
  @media (max-width: 1300px) {
    .button-link {
      font-size: 16px; } }
  @media (max-width: 320px) {
    .button-link {
      font-size: 14px; } }

.section-title, .section-title--line {
  display: inline-block;
  text-transform: uppercase;
  color: black;
  font: normal 800 45px "Gilroy", Helvetica, sana-serif, Helvetica, sana-serif;
  letter-spacing: 2px; }
  @media (max-width: 1300px) {
    .section-title, .section-title--line {
      font-size: 30px; } }
  @media (max-width: 320px) {
    .section-title, .section-title--line {
      font-size: 24px;
      letter-spacing: 1px; } }

.section-title--line {
  position: relative; }
  .section-title--line:after {
    content: '';
    display: block;
    width: 64px;
    padding-bottom: 20px;
    border-bottom: 7px solid #f5112c; }
    @media (max-width: 640px) {
      .section-title--line:after {
        margin: 0 auto; } }

.section-title--question {
  position: relative; }
  .section-title--question:before {
    position: absolute;
    z-index: 0;
    top: -115px;
    right: -70px;
    content: '?';
    display: inline-block;
    color: rgba(0, 0, 0, 0.1);
    font: normal 800 300px "Gilroy", Helvetica, sana-serif; }
    @media (max-width: 1300px) {
      .section-title--question:before {
        top: -65px;
        right: -40px;
        font-size: 200px; } }

.section__list--title {
  font: normal 900 1rem/1.6 "Gilroy", Helvetica, sana-serif, Helvetica, sana-serif; }
  @media (max-width: 1300px) {
    .section__list--title {
      line-height: 1.5; } }
  @media (max-width: 320px) {
    .section__list--title {
      line-height: 1.3; } }

.section__list--description {
  font: normal 300 1rem/1.6 "Gilroy", Helvetica, sana-serif, Helvetica, sana-serif; }
  @media (max-width: 1300px) {
    .section__list--description {
      line-height: 1.5; } }
  @media (max-width: 320px) {
    .section__list--description {
      line-height: 1.3; } }

.logo {
  color: #000000; }
  .logo__dot, .logo__text {
    display: inline;
    font: normal 800 48px "Muse", "Trebuchet MS", sana-serif; }
    @media (max-width: 1300px) {
      .logo__dot, .logo__text {
        font-size: 30px; } }
  .logo__text {
    color: #f5112c;
    letter-spacing: 2px; }

html {
  font-size: 18px; }

.header {
  overflow: hidden;
  /*height: 100vh;*/
  position: relative;
  display: flex;
  flex-flow: column nowrap; }
  .header:after {
    position: absolute;
    z-index: -10;
    top: 20px;
    left: 0;
    width: 100%;
    display: inline-block;
    content: 'english yes';
    color: rgba(233, 233, 233, 0.3);
    font: normal 800 18.3vw "Gilroy", Helvetica, sana-serif;
    letter-spacing: 9px;
    white-space: nowrap; }
  .header__menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 25px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
  .header__list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    list-style-type: none; }
    @media (max-width: 580px) {
      .header__list {
        flex-direction: column; } }
    .header__list--item {
      margin-right: 40px;
      display: inline-block; }
      @media (max-width: 980px) {
        .header__list--item {
          margin-right: 10px; } }
      @media (max-width: 900px) {
        .header__list--item {
          margin-right: 20px; }
          .header__list--item:first-child {
            display: none; } }
      @media (max-width: 580px) {
        .header__list--item {
          margin: 0; } }
      .header__list--item:last-child {
        margin: 0; }

.main-block {
  padding-bottom: 45px;
  height: 100%;
  display: flex;
  flex-flow: row nowrap; }
  @media (max-width: 600px) {
    .main-block {
      flex-direction: column;
      align-items: center; } }
  .main-block__img {
    position: relative;
    z-index: -1;
    margin-left: 20%;
    margin-right: 25px;
    width: 31%;
    background: transparent url("./assets/images/d_bus.png") 50% 0 no-repeat;
    background-size: contain; }
    @media (max-width: 1700px) {
      .main-block__img {
        margin-left: 18%; } }
    @media (max-width: 1550px) {
      .main-block__img {
        margin-left: 15%; } }
    @media (max-width: 1450px) {
      .main-block__img {
        margin-left: 10%;
        width: 38%; } }
    @media (max-width: 1300px) {
      .main-block__img {
        margin-left: 15.3%;
        width: 33%; } }
    @media (max-width: 940px) {
      .main-block__img {
        margin-left: -20%;
        width: 70%; } }
    @media (max-width: 600px) {
      .main-block__img {
        margin: 0 0 0 0;
        width: 100%;
        height: 500px; } }
    .main-block__img:after {
      position: absolute;
      top: 44%;
      left: -17%;
      display: block;
      width: 86px;
      height: 86px;
      content: "";
      background: transparent url("./assets/images/icons/bagel.svg") 50% 50% no-repeat; }
      @media (max-width: 1300px) {
        .main-block__img:after {
          top: 54%;
          left: -34%; } }
      @media (max-width: 1140px) {
        .main-block__img:after {
          left: -10%; } }
      @media (max-width: 940px) {
        .main-block__img:after {
          top: auto;
          bottom: 0;
          left: 10%; } }
      @media (max-width: 780px) {
        .main-block__img:after {
          bottom: -10%;
          left: 20%; } }
  .main-block__content {
    margin-right: 20%;
    padding: 15% 0 8%; }
    @media (max-width: 1700px) {
      .main-block__content {
        padding: 10% 0 5%; } }
    @media (max-width: 1300px) {
      .main-block__content {
        padding: 170px 0 0; } }
    @media (max-width: 940px) {
      .main-block__content {
        padding-top: 145px; } }
    @media (max-width: 690px) {
      .main-block__content {
        padding-top: 100px; } }
    @media (max-width: 600px) {
      .main-block__content {
        width: 100%; } }
  .main-block__title {
    position: relative;
    margin-bottom: 20px;
    display: block;
    max-width: 490px;
    text-transform: uppercase;
    color: black;
    font: normal 800 34px "Gilroy", Helvetica, sana-serif;
    letter-spacing: 2px; }
    @media (max-width: 1300px) {
      .main-block__title {
        margin-bottom: 12px;
        font-size: 24px;
        letter-spacing: 1px; } }
    @media (max-width: 320px) {
      .main-block__title {
        font-size: 18px; } }
    .main-block__title:before {
      position: absolute;
      top: -49%;
      right: 6%;
      display: block;
      width: 24px;
      height: 24px;
      content: "";
      background: transparent url("./assets/images/icons/circle.svg") 50% 50% no-repeat; }
      @media (max-width: 1300px) {
        .main-block__title:before {
          top: -39%;
          right: 23%; } }
      @media (max-width: 690px) {
        .main-block__title:before {
          top: -15%;
          right: 32%; } }
    .main-block__title--strong {
      margin-top: 5px;
      display: block;
      font-size: 45px; }
      @media (max-width: 1300px) {
        .main-block__title--strong {
          font-size: 30px;
          letter-spacing: 2px; } }
      @media (max-width: 320px) {
        .main-block__title--strong {
          font-size: 24px;
          letter-spacing: 1px; } }
  .main-block__description {
    position: relative;
    margin-bottom: 95px;
    color: #141414;
    font: normal 300 18px/24px "Gilroy", Helvetica, sana-serif;
    letter-spacing: 1px; }
    @media (max-width: 1300px) {
      .main-block__description {
        margin-bottom: 70px;
        font-size: 16px; } }
    @media (max-width: 1000px) {
      .main-block__description {
        margin-bottom: 30px; } }
    @media (max-width: 320px) {
      .main-block__description {
        font-size: 18px;
        line-height: 18px; } }
    .main-block__description:after {
      position: absolute;
      bottom: -102%;
      right: 0;
      display: block;
      width: 145px;
      height: 19px;
      content: "";
      background: transparent url("./assets/images/icons/wave.svg") 50% 50% no-repeat; }
      @media (max-width: 1300px) {
        .main-block__description:after {
          right: -18%; } }
      @media (max-width: 940px) {
        .main-block__description:after {
          display: none; } }
    .main-block__description--item {
      display: block; }

.situation {
  position: relative;
  overflow: hidden;
  padding: 165px 0 215px; }
  @media (max-width: 1300px) {
    .situation {
      padding: 115px 0 174px; } }
  @media (max-width: 640px) {
    .situation {
      padding-bottom: 120px; } }
  .situation:after {
    position: absolute;
    top: 0;
    left: -50%;
    z-index: -10;
    width: 170%;
    height: 100%;
    border-radius: 50%;
    content: '';
    background-color: #f8f8f8; }
    @media (max-width: 1300px) {
      .situation:after {
        left: -64%;
        width: 220%; } }
    @media (max-width: 649px) {
      .situation:after {
        left: -90%;
        width: 280%; } }
  .situation__wrapper {
    position: relative; }
    @media (max-width: 640px) {
      .situation__wrapper {
        text-align: center; } }
    .situation__wrapper:before {
      position: absolute;
      bottom: 16%;
      left: 24%;
      display: block;
      height: 70%;
      content: "";
      border-left: 1px solid rgba(0, 0, 0, 0.1); }
      @media (max-width: 1790px) {
        .situation__wrapper:before {
          left: 10%; } }
      @media (max-width: 1500px) {
        .situation__wrapper:before {
          left: 5%; } }
      @media (max-width: 1400px) {
        .situation__wrapper:before {
          display: none; } }
    .situation__wrapper:after {
      position: absolute;
      top: 61%;
      left: 23%;
      z-index: 1;
      display: block;
      width: 24px;
      height: 24px;
      content: "";
      background: transparent url("./assets/images/icons/circle.svg") 50% 50% no-repeat; }
      @media (max-width: 1790px) {
        .situation__wrapper:after {
          left: 9%; } }
      @media (max-width: 1500px) {
        .situation__wrapper:after {
          left: 4%; } }
      @media (max-width: 1400px) {
        .situation__wrapper:after {
          display: none; } }
  .situation__title {
    max-width: 360px; }
    @media (max-width: 1300px) {
      .situation__title {
        margin-bottom: 60px;
        max-width: 260px; } }
  .situation__item {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center; }
    @media (max-width: 1300px) {
      .situation__item {
        margin-bottom: 55px; }
        .situation__item:last-child {
          margin: 0; } }
    @media (max-width: 640px) {
      .situation__item {
        margin: 0 0 30px 0;
        flex-direction: column; } }
    .situation__item--description {
      position: relative; }
    .situation__item--number {
      position: absolute;
      top: 0;
      right: 0;
      color: black;
      font: normal 800 48px "Gilroy", Helvetica, sana-serif;
      letter-spacing: 2px; }
      @media (max-width: 640px) {
        .situation__item--number {
          position: static; } }
      .situation__item--number_strong {
        color: #f5112c; }
    .situation__item--text {
      max-width: 396px;
      font: normal 300 18px/28px "Gilroy", Helvetica, sana-serif;
      letter-spacing: 1px;
      color: #1b1b1b; }
      @media (max-width: 1300px) {
        .situation__item--text {
          font-size: 16px;
          line-height: 24px; } }
      @media (max-width: 640px) {
        .situation__item--text {
          max-width: none; } }
      @media (max-width: 320px) {
        .situation__item--text {
          font-size: 14px;
          line-height: 18px; } }
    .situation__item--img {
      margin: 0 0 0 35px; }
      @media (max-width: 640px) {
        .situation__item--img {
          margin: 0;
          width: 100%; }
          .situation__item--img img {
            width: 100%; } }
    .situation__item:nth-child(even) {
      flex-direction: row-reverse; }
      .situation__item:nth-child(even) .situation__item--number {
        right: auto;
        left: 0; }
      .situation__item:nth-child(even) .situation__item--text {
        max-width: 311px; }
        @media (max-width: 640px) {
          .situation__item:nth-child(even) .situation__item--text {
            max-width: inherit; } }
      .situation__item:nth-child(even) .situation__item--img {
        margin: 0 35px 0 0; }
        @media (max-width: 640px) {
          .situation__item:nth-child(even) .situation__item--img {
            margin: inherit; } }
      @media (max-width: 640px) {
        .situation__item:nth-child(even) {
          flex-direction: column; } }
    .situation__item:nth-child(1) {
      margin-bottom: 80px; }
      @media (max-width: 1300px) {
        .situation__item:nth-child(1) {
          margin-bottom: 55px; } }
      @media (max-width: 640px) {
        .situation__item:nth-child(1) {
          margin: 0 0 30px 0; } }
      .situation__item:nth-child(1) .situation__item--number {
        top: -76%;
        right: -26%; }
      .situation__item:nth-child(1) .situation__item--text {
        position: relative;
        max-width: 282px; }
        @media (max-width: 640px) {
          .situation__item:nth-child(1) .situation__item--text {
            max-width: inherit; } }
        .situation__item:nth-child(1) .situation__item--text:after {
          position: absolute;
          bottom: -47%;
          right: -21%;
          display: block;
          width: 145px;
          height: 19px;
          content: "";
          background: transparent url("./assets/images/icons/wave.svg") 50% 50% no-repeat; }
          @media (max-width: 640px) {
            .situation__item:nth-child(1) .situation__item--text:after {
              display: none; } }
    .situation__item:nth-child(2) .situation__item--number {
      top: -138%;
      left: -22%; }
    .situation__item:nth-child(3) {
      margin-top: -60px; }
      @media (max-width: 1300px) {
        .situation__item:nth-child(3) {
          margin-top: 0; } }
      @media (max-width: 640px) {
        .situation__item:nth-child(3) {
          margin: 0 0 30px 0; } }
      .situation__item:nth-child(3) .situation__item--number {
        top: -105%;
        right: -20%; }
    .situation__item:nth-child(4) .situation__item--number {
      top: -65%;
      left: -23%; }

.about-us {
  position: relative;
  margin-top: -70px;
  padding-bottom: 238px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  overflow: hidden; }
  @media (max-width: 1300px) {
    .about-us {
      padding-bottom: 142px; } }
  @media (max-width: 640px) {
    .about-us {
      margin-top: 0;
      padding-top: 20px; } }
  .about-us:after {
    position: absolute;
    bottom: 11%;
    right: 31%;
    display: block;
    width: 145px;
    height: 19px;
    content: "";
    background: transparent url("./assets/images/icons/wave.svg") 50% 50% no-repeat; }
    @media (max-width: 1300px) {
      .about-us:after {
        bottom: 14%;
        right: 18%; } }
    @media (max-width: 640px) {
      .about-us:after {
        display: none; } }
  .about-us__content {
    padding-top: 225px;
    margin-left: 20%;
    flex-grow: 0; }
    @media (max-width: 1300px) {
      .about-us__content {
        margin-left: 22.3%;
        padding-top: 195px; } }
    @media (max-width: 980px) {
      .about-us__content {
        margin-left: 15%; } }
    @media (max-width: 780px) {
      .about-us__content {
        margin-left: 10%; } }
    @media (max-width: 640px) {
      .about-us__content {
        margin: 0 auto;
        padding-top: 0;
        max-width: 80%;
        text-align: center; } }
  .about-us__title {
    margin-bottom: 103px;
    max-width: 495px; }
    @media (max-width: 1300px) {
      .about-us__title {
        margin-bottom: 63px;
        max-width: 340px; } }
  .about-us__line {
    margin-bottom: 70px; }
  .about-us__list {
    padding-left: 20px;
    display: flex;
    flex-flow: row nowrap; }
    @media (max-width: 1300px) {
      .about-us__list {
        padding: 0; } }
  .about-us__item {
    margin-right: 30px;
    max-width: 280px;
    color: #141414;
    font: normal 300 18px/28px "Gilroy", Helvetica, sana-serif;
    letter-spacing: 1px;
    text-align: left; }
    @media (max-width: 1300px) {
      .about-us__item {
        margin-right: 18px;
        max-width: 220px;
        font-size: 16px;
        line-height: 24px; } }
    @media (max-width: 640px) {
      .about-us__item {
        max-width: none;
        margin-right: 20px; } }
    @media (max-width: 320px) {
      .about-us__item {
        font-size: 14px; } }
    .about-us__item:last-child {
      margin: 0; }
    .about-us__item--title {
      position: relative;
      margin-bottom: 10px;
      font-weight: 900; }
      .about-us__item--title:before {
        position: absolute;
        bottom: -2px;
        left: -20px;
        z-index: -5;
        display: inline-block;
        content: "";
        width: 50px;
        height: 50px;
        border-radius: 22px;
        background-color: #f5f5f5; }
        @media (max-width: 1300px) {
          .about-us__item--title:before {
            left: 0; } }
  .about-us__img {
    margin: 0 -4% 0 -12%;
    width: 50%;
    background: transparent url("./assets/images/d_about.png") 50% 50% no-repeat;
    background-size: contain; }
    @media (max-width: 1300px) {
      .about-us__img {
        margin-right: -10%;
        width: 47%; } }
    @media (max-width: 640px) {
      .about-us__img {
        display: none; } }

.instructors {
  position: relative;
  padding-bottom: 75px;
  /*&__wrapper {
    position: relative;
    &:before {
      position: absolute;
      top: 43%;
      right: 15%;
      z-index: -10;

      display: block;
      width: 120%;
      content: "";

      border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    &:after {
      position: absolute;
      top: 41%;
      left: -13%;

      display: block;
      width: 24px;
      height: 24px;
      content: "";

      background: transparent url($url + "icons/circle.svg") 50% 50% no-repeat;
    }
  }*/ }
  @media (max-width: 1300px) {
    .instructors {
      padding-bottom: 30px;
      overflow: hidden; } }
  .instructors:before {
    position: absolute;
    top: -6%;
    right: 8%;
    z-index: -10;
    border: 70px solid #f8f8f8;
    width: 23%;
    height: 61%;
    border-radius: 50%;
    content: ''; }
    @media (max-width: 1300px) {
      .instructors:before {
        top: auto;
        bottom: 13%;
        right: -12%;
        width: 36%;
        height: 36%; } }
  .instructors:after {
    position: absolute;
    top: 37%;
    right: 7%;
    display: block;
    width: 66px;
    height: 34px;
    content: "";
    background: transparent url("./assets/images/icons/waves.png") 50% 50% no-repeat; }
    @media (max-width: 1300px) {
      .instructors:after {
        top: auto;
        bottom: 26%;
        right: 20%; } }
    @media (max-width: 640px) {
      .instructors:after {
        display: none; } }
  .instructors__title {
    margin-bottom: 48px; }
  .instructors__list {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none; }
    @media (max-width: 1300px) {
      .instructors__list {
        flex-wrap: wrap;
        justify-content: space-between; } }
    @media (max-width: 640px) {
      .instructors__list {
        flex-direction: column; } }
  .instructors__item {
    padding: 0 10px;
    width: calc((100% / 3) - 20px);
    color: #141414;
    font: normal 300 0.8rem "Gilroy", Helvetica, sana-serif;
    letter-spacing: 1px; }
    @media (max-width: 1300px) {
      .instructors__item {
        margin-bottom: 10px;
        padding: 0;
        width: calc((100% / 2) - 15px); }
        .instructors__item:last-child {
          margin: 0; } }
    @media (max-width: 640px) {
      .instructors__item {
        margin-bottom: 50px;
        width: auto; } }
    .instructors__item:first-child {
      padding: 0 15px 0 0; }
      @media (max-width: 1300px) {
        .instructors__item:first-child {
          padding: inherit; } }
    .instructors__item:last-child {
      padding: 0 0 0 15px; }
      @media (max-width: 1300px) {
        .instructors__item:last-child {
          padding: inherit; } }
    .instructors__item--img {
      margin-bottom: 28px;
      width: 100%; }
    .instructors__item--title {
      margin-bottom: 10px;
      display: block;
      font-size: 18px;
      font-weight: 900; }
    .instructors__item--description {
      line-height: 1.7; }

.timetable {
  position: relative;
  padding-bottom: 72px;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden; }
  @media (max-width: 1300px) {
    .timetable {
      padding-bottom: 100px; } }
  @media (max-width: 640px) {
    .timetable {
      flex-direction: column; } }
  .timetable:before {
    position: absolute;
    top: 22%;
    left: 6%;
    z-index: -10;
    border: 100px solid #f8f8f8;
    width: 32%;
    height: 53%;
    border-radius: 50%;
    content: ''; }
    @media (max-width: 1300px) {
      .timetable:before {
        left: -7%;
        width: 36%; } }
  .timetable__img {
    position: relative;
    width: 67%;
    background: transparent url("./assets/images/d_bigben.png") 100% 0 no-repeat;
    background-size: cover; }
    @media (max-width: 1300px) {
      .timetable__img {
        width: 61%; } }
    @media (max-width: 640px) {
      .timetable__img {
        width: 80vw;
        height: 115.14019vw; } }
    .timetable__img:before {
      position: absolute;
      top: 16%;
      left: 23%;
      z-index: -10;
      border: 30px solid #2429ff;
      width: 24%;
      height: 16%;
      border-radius: 50%;
      content: ''; }
      @media (max-width: 1300px) {
        .timetable__img:before {
          left: -22%;
          border: 24px solid #2429ff;
          width: 34%; } }
    .timetable__img:after {
      position: absolute;
      bottom: 29%;
      right: -2%;
      display: block;
      width: 145px;
      height: 19px;
      content: "";
      background: transparent url("./assets/images/icons/wave.svg") 50% 50% no-repeat; }
      @media (max-width: 1300px) {
        .timetable__img:after {
          bottom: 27%;
          right: 1%; } }
  .timetable__text {
    padding: 135px 0 35px;
    margin-right: 20%;
    flex-grow: 0; }
    @media (max-width: 1300px) {
      .timetable__text {
        margin-right: 22.3%;
        padding: 32px 0 35px; } }
    @media (max-width: 980px) {
      .timetable__text {
        margin-right: 15%; } }
    @media (max-width: 780px) {
      .timetable__text {
        margin-right: 10%; } }
    @media (max-width: 640px) {
      .timetable__text {
        margin: 0 auto;
        padding: 20px 0 0;
        width: 80%;
        text-align: center; }
        .timetable__text .section-title--question:before {
          display: none; } }
  .timetable__title {
    margin-bottom: 30px; }
    @media (max-width: 1300px) {
      .timetable__title {
        margin-bottom: 25px; } }
  .timetable__line {
    margin-bottom: 45px;
    max-width: 350px; }
  .timetable__price {
    display: block;
    margin-bottom: 10px;
    color: #f5112c;
    font: normal 300 45px "Gilroy", Helvetica, sana-serif;
    letter-spacing: 2px; }
    @media (max-width: 1300px) {
      .timetable__price {
        font-size: 30px; } }
    @media (max-width: 320px) {
      .timetable__price {
        margin-bottom: 28px;
        font-size: 24px;
        letter-spacing: 1px; } }
  .timetable__description {
    margin-bottom: 30px;
    color: #141414;
    font: normal 300 18px/28px "Gilroy", Helvetica, sana-serif;
    letter-spacing: 1px; }
    @media (max-width: 1300px) {
      .timetable__description {
        font-size: 16px;
        line-height: 24px; } }
    @media (max-width: 320px) {
      .timetable__description {
        font-size: 14px;
        line-height: 18px; } }
  .timetable__list {
    display: flex;
    flex-flow: row nowrap; }
  .timetable__item {
    margin-right: 30px;
    max-width: 390px;
    width: calc(50% - 30px);
    color: #141414;
    font: normal 300 18px/28px "Gilroy", Helvetica, sana-serif;
    letter-spacing: 1px;
    text-align: left; }
    @media (max-width: 1300px) {
      .timetable__item {
        font-size: 16px;
        line-height: 24px; } }
    @media (max-width: 320px) {
      .timetable__item {
        font-size: 14px;
        line-height: 18px; } }
    .timetable__item:last-child {
      margin: 0; }
    .timetable__item--title {
      margin-bottom: 5px;
      font-weight: 800; }
    .timetable__item .section-title--question:after {
      top: 0; }
    .timetable__item--description {
      margin-bottom: 25px; }

.methods {
  position: relative;
  overflow: hidden;
  padding: 57px 0 225px; }
  @media (max-width: 1300px) {
    .methods {
      padding-bottom: 132px; } }
  @media (max-width: 640px) {
    .methods {
      text-align: center; } }
  .methods:before {
    position: absolute;
    top: 0;
    right: -6%;
    z-index: -10;
    width: 110%;
    height: 100%;
    border-radius: 50%;
    content: '';
    background-color: #f8f8f8; }
  .methods__title {
    margin-bottom: 45px;
    max-width: 350px; }
    @media (max-width: 1300px) {
      .methods__title {
        margin-bottom: 115px; } }
  .methods__item {
    position: relative;
    margin-bottom: 70px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 640px) {
      .methods__item {
        flex-direction: column; } }
    .methods__item:last-child {
      margin: 0; }
    .methods__item--text {
      display: flex;
      flex-flow: column nowrap;
      max-width: 410px;
      font: normal 300 18px/28px "Gilroy", Helvetica, sana-serif;
      letter-spacing: 1px; }
      @media (max-width: 1300px) {
        .methods__item--text {
          font-size: 16px;
          line-height: 24px; } }
      @media (max-width: 640px) {
        .methods__item--text {
          width: 100%;
          max-width: none; } }
      @media (max-width: 320px) {
        .methods__item--text {
          font-size: 14px;
          line-height: 18px; } }
    .methods__item--title {
      font-weight: 800; }
      .methods__item--title:before {
        margin-right: 10px;
        display: inline-block;
        width: 13px;
        height: 10px;
        content: "";
        background: transparent url("./assets/images/icons/arrow-right.svg") 50% 50% no-repeat; }
    .methods__item--description {
      padding-left: 22px; }
    .methods__item--img {
      margin-left: 73px; }
      @media (max-width: 1300px) {
        .methods__item--img {
          margin-left: 0; } }
    .methods__item:nth-child(even) {
      flex-flow: row-reverse nowrap;
      justify-content: flex-end; }
      @media (max-width: 640px) {
        .methods__item:nth-child(even) {
          flex-direction: column;
          justify-content: flex-start; } }
      .methods__item:nth-child(even) .methods__item--img {
        margin: 0 73px 0 0; }
        @media (max-width: 1300px) {
          .methods__item:nth-child(even) .methods__item--img {
            margin: 0; } }
    .methods__item:nth-child(1):after, .methods__item:nth-child(2):after, .methods__item:nth-child(3):after, .methods__item:nth-child(4):after {
      position: absolute;
      z-index: -10;
      font: normal 800 122px/72px "Gilroy", Helvetica, sana-serif;
      letter-spacing: 6px;
      color: rgba(233, 233, 233, 0.5); }
      @media (max-width: 1300px) {
        .methods__item:nth-child(1):after, .methods__item:nth-child(2):after, .methods__item:nth-child(3):after, .methods__item:nth-child(4):after {
          font-size: 72px;
          letter-spacing: 4px; } }
      @media (max-width: 640px) {
        .methods__item:nth-child(1):after, .methods__item:nth-child(2):after, .methods__item:nth-child(3):after, .methods__item:nth-child(4):after {
          display: none; } }
    .methods__item:nth-child(1):after {
      top: 48px;
      left: 178px;
      content: "просто"; }
      @media (max-width: 1300px) {
        .methods__item:nth-child(1):after {
          top: -12px;
          left: 138px; } }
    .methods__item:nth-child(2):after {
      top: 72px;
      right: 48px;
      content: "общение"; }
      @media (max-width: 1300px) {
        .methods__item:nth-child(2):after {
          top: 3px;
          right: 54px; } }
    .methods__item:nth-child(2):before {
      position: absolute;
      top: -15%;
      left: 4.5%;
      display: block;
      width: 24px;
      height: 24px;
      content: "";
      background: transparent url("./assets/images/icons/circle.svg") 50% 50% no-repeat; }
      @media (max-width: 1300px) {
        .methods__item:nth-child(2):before {
          top: -153%;
          left: 7%; } }
    .methods__item:nth-child(3):after {
      top: 64px;
      left: 14px;
      content: "практика"; }
      @media (max-width: 1300px) {
        .methods__item:nth-child(3):after {
          top: -10px;
          left: -1px; } }
    .methods__item:nth-child(4):before {
      position: absolute;
      top: -7%;
      left: 45%;
      z-index: 10;
      border: 17px solid #2429ff;
      width: 8%;
      height: 24%;
      border-radius: 50%;
      content: ''; }
      @media (max-width: 1300px) {
        .methods__item:nth-child(4):before {
          top: -19%;
          left: 41%;
          width: 12%;
          height: 40%; } }
    .methods__item:nth-child(4):after {
      top: 70px;
      right: 148px;
      content: "повтор"; }
      @media (max-width: 1300px) {
        .methods__item:nth-child(4):after {
          top: 0;
          right: 95px; } }

.reviews {
  position: relative;
  padding: 100px 0 154px; }
  @media (max-width: 1300px) {
    .reviews {
      padding-top: 134px; } }
  .reviews:before {
    position: absolute;
    top: -32%;
    right: 13%;
    z-index: -10;
    border: 110px solid #f8f8f8;
    width: 30%;
    height: 65%;
    border-radius: 50%;
    content: ''; }
    @media (max-width: 1300px) {
      .reviews:before {
        right: 9%;
        border: 75px solid #f8f8f8;
        width: 34%;
        height: 54%; } }
  .reviews:after {
    position: absolute;
    bottom: -3%;
    right: 20%;
    display: block;
    width: 145px;
    height: 19px;
    content: "";
    background: transparent url("./assets/images/icons/wave.svg") 50% 50% no-repeat; }
    @media (max-width: 1300px) {
      .reviews:after {
        bottom: 3%;
        right: 22%; } }
  .reviews__wrapper {
    position: relative; }
    @media (max-width: 640px) {
      .reviews__wrapper {
        text-align: center; } }
    .reviews__wrapper:before {
      position: absolute;
      top: 29%;
      right: 15%;
      z-index: 10;
      display: block;
      width: 24px;
      height: 24px;
      content: "";
      background: transparent url("./assets/images/icons/circle.svg") 50% 50% no-repeat; }
      @media (max-width: 1300px) {
        .reviews__wrapper:before {
          top: 3%;
          right: 17%; } }
    .reviews__wrapper:after {
      position: absolute;
      top: 13%;
      right: -9%;
      z-index: 10;
      display: block;
      width: 66px;
      height: 34px;
      content: "";
      background: transparent url("./assets/images/icons/waves.png") 50% 50% no-repeat; }
      @media (max-width: 1300px) {
        .reviews__wrapper:after {
          top: -31%;
          right: -28%; } }
      @media (max-width: 1140px) {
        .reviews__wrapper:after {
          right: -9%; } }
  .reviews__title {
    margin-bottom: 75px; }
    @media (max-width: 1300px) {
      .reviews__title {
        margin-bottom: 60px; } }
  .reviews__list {
    overflow-x: auto;
    display: flex;
    flex-flow: row nowrap; }
    .reviews__list::-webkit-scrollbar-track {
      border-radius: 3px;
      background-color: #e9e9e9; }
    .reviews__list::-webkit-scrollbar {
      height: 7px; }
    .reviews__list::-webkit-scrollbar-thumb {
      border-radius: 3px;
      -webkit-box-shadow: 0px 4px 10px rgba(245, 17, 44, 0.58);
      background-color: #f5112c; }
  .reviews__item {
    padding-bottom: 70px;
    flex: 0 0 100%;
    display: flex;
    flex-flow: row nowrap; }
    @media (max-width: 1300px) {
      .reviews__item {
        padding-bottom: 56px; } }
    @media (max-width: 640px) {
      .reviews__item {
        flex-direction: column;
        align-items: center;
        text-align: center; } }
    .reviews__item--img-wrapper {
      position: relative;
      overflow: hidden;
      margin-right: 65px;
      display: block;
      height: 164px;
      width: 164px; }
      @media (max-width: 1300px) {
        .reviews__item--img-wrapper {
          margin-right: 27px; } }
    .reviews__item--img {
      position: absolute;
      top: -15px;
      left: -70px; }
    .reviews__item--content {
      max-width: 680px;
      font: normal 300 18px/28px "Gilroy", Helvetica, sana-serif;
      letter-spacing: 1px;
      text-align: left; }
      @media (max-width: 1300px) {
        .reviews__item--content {
          max-width: 540px;
          font-size: 16px;
          line-height: 24px; } }
      @media (max-width: 320px) {
        .reviews__item--content {
          font-size: 14px;
          line-height: 18px; } }
    .reviews__item--name {
      margin-bottom: 28px;
      display: block;
      font-weight: 800;
      line-height: 1; }
    .reviews__item--text {
      margin-bottom: 20px; }

.promotion {
  padding: 130px 0 190px;
  display: flex;
  flex-flow: row nowrap; }
  @media (max-width: 1300px) {
    .promotion {
      padding: 60px 0 110px; } }
  @media (max-width: 640px) {
    .promotion {
      flex-direction: column; } }
  .promotion__img {
    position: relative;
    margin-right: 3%;
    width: 72%;
    background: transparent url("./assets/images/plane.png") 50% 100% no-repeat;
    background-size: contain; }
    @media (max-width: 1300px) {
      .promotion__img {
        width: 104%; } }
    @media (max-width: 640px) {
      .promotion__img {
        height: 300px;
        width: auto; } }
    .promotion__img:before {
      position: absolute;
      top: 1%;
      right: 7%;
      display: block;
      width: 145px;
      height: 19px;
      content: "";
      background: transparent url("./assets/images/icons/wave.svg") 50% 50% no-repeat; }
      @media (max-width: 1300px) {
        .promotion__img:before {
          top: -2%;
          right: -5%; } }
    .promotion__img:after {
      position: absolute;
      bottom: 0;
      right: 25%;
      display: block;
      width: 24px;
      height: 24px;
      content: "";
      background: transparent url("./assets/images/icons/circle.svg") 50% 50% no-repeat; }
      @media (max-width: 1300px) {
        .promotion__img:after {
          bottom: 3%;
          right: 0; } }
  .promotion__content {
    position: relative;
    margin-right: 20%;
    padding-top: 124px;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 0; }
    @media (max-width: 1300px) {
      .promotion__content {
        margin-right: 22.3%;
        padding: 24px 0 40px; } }
    @media (max-width: 980px) {
      .promotion__content {
        margin-right: 15%; } }
    @media (max-width: 780px) {
      .promotion__content {
        margin-right: 10%; } }
    @media (max-width: 640px) {
      .promotion__content {
        margin: 0 auto;
        width: 80%; } }
    .promotion__content:before {
      position: absolute;
      top: 3%;
      right: -16%;
      display: block;
      width: 10px;
      height: 10px;
      content: "";
      background: transparent url("./assets/images/icons/circle.svg") 50% 50% no-repeat;
      background-size: contain; }
      @media (max-width: 1300px) {
        .promotion__content:before {
          top: -9%;
          right: -24%; } }
    .promotion__content:after {
      position: absolute;
      top: 12%;
      right: -8%;
      display: block;
      width: 24px;
      height: 24px;
      content: "";
      background: transparent url("./assets/images/icons/circle.svg") 50% 50% no-repeat; }
      @media (max-width: 1300px) {
        .promotion__content:after {
          top: 3%;
          right: -13%; } }
  .promotion__title {
    margin-bottom: 16px; }
  .promotion__description {
    margin-bottom: 95px;
    font: normal 300 16px/24px "Gilroy", Helvetica, sana-serif;
    letter-spacing: 1px; }
    @media (max-width: 1300px) {
      .promotion__description {
        margin-bottom: 35px; } }

.footer {
  padding: 70px 0 40px;
  background-color: #f7f7f7; }
  @media (max-width: 1300px) {
    .footer {
      padding: 40px 0 20px; } }
  .footer__wrapper {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
    @media (max-width: 550px) {
      .footer__wrapper {
        flex-direction: column;
        align-items: center; } }
  .footer__column {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start; }
    .footer__column:last-child {
      align-items: flex-end; }
    @media (max-width: 550px) {
      .footer__column {
        align-items: center; }
        .footer__column:last-child {
          align-items: center; } }
  .footer__logo {
    margin-bottom: 5px; }
  .footer__social {
    margin-bottom: 15px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center; }
    @media (max-width: 1300px) {
      .footer__social {
        margin-bottom: 10px; } }
    .footer__social--item {
      margin-right: 22px;
      background-size: contain;
      cursor: pointer; }
      .footer__social--item:last-child {
        margin: 0; }
    .footer__social .vk {
      width: 40px;
      height: 23px;
      background: transparent url("./assets/images/icons/vk.png") 50% 50% no-repeat; }
    .footer__social .insta {
      width: 28px;
      height: 28px;
      background: transparent url("./assets/images/icons/insta.png") 50% 50% no-repeat; }
    .footer__social .yt {
      width: 27px;
      height: 33px;
      background: transparent url("./assets/images/icons/yt.png") 50% 50% no-repeat; }
    .footer__social .ok {
      width: 19px;
      height: 33px;
      background: transparent url("./assets/images/icons/ok.png") 50% 50% no-repeat; }
  .footer__tel {
    margin-bottom: 15px; }
    @media (max-width: 1300px) {
      .footer__tel {
        margin-bottom: 5px; } }
